
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="about-section center-row">
        <div class="about-image-container center-row">  
                <img src="{% static '/img/logo.png' %}" alt="about">
        </div>

        
    <section class="about-section center-row">
        <div class="about-image-container center-row">
        
        </div>

        <div class="about-description-container center-column">
            <h1>My role here</h1>
            <h2>Nicole B.</h2>
            <p>Front-end developer based in the Philippines. I create responsive websites that are displayed on all devices desktops and smartphones. <br>
            I am passionate about building excellent software that improves the lives of those around me. I specialize in creating software for clients ranging from individuals and small-businesses all the way to large enterprise corporations. All of my work is produced locally from the Philippines.</p>
        </div>

        <div class="about-skill-container center-column">
            <h2>Skills</h2>
            <div class="skill-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>
        </div>

    </section>

{% endblock content %}

