{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="home-image-container center-row">
    <img src="{% static '/img/picture-2.jpg' %}" alt="home-image">
</div>
<div class="home-description-container center-column">
    <h1>Welcome to My Portfolio</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, ipsa labore, in molestias voluptates blanditiis, similique velit aut temporibus tenetur animi ratione maxime omnis vitae doloremque fuga aspernatur praesentium aliquam.</p>   
</div>

{% endblock content %}

